@import "tailwindcss";

 
 

/* ---------- LIGHT MODE ---------- */
:root {
  --bg: #f8fafc;
  --card: #ffffff;
  --border: #e5e7eb;

  --text-primary: #0f172a;
  --text-secondary: #475569;
}

/* ---------- DARK MODE ---------- */
.dark {
  --bg: #0b0b0f;
  --card: #111118;
  --border: #1f1f2b;

  --text-primary: #ffffff;
  --text-secondary: #a1a1aa;
}

/* ---------- GLOBAL ---------- */
html,
body {
  background-color: var(--bg);
  color: var(--text-primary);
}

section {
  scroll-margin-top: 90px;
}
